body {
    background-color: rgb(255, 250, 240);
}
/* The following grouped classes will display the heading text color and font consistently across the pages. */
.big-header {
    color: rgba(112, 0, 0, 0.836);
    font-family: "Comic Sans MS", Arial, sans-serif;
    height: auto;
    width: fit-content;
    margin:25px auto;
    padding: 10px;
}

/* The following class selector will set the background color and size of the of the main heading for each page. */
.big-header {
    background-color: rgb(253, 192, 117);
    font-size: 70px;
    border: 8px solid rgba(112, 0, 0, 0.836);
}

/* The following ID selector will resize the hamster.gif image for the index page. */
#hamster-gif {
    height: auto;
    width: 500px;
    margin-left: 800px;
}

/* The following class selector will set the background color and the size of the subheading for each page. */
.small-header {
    color: rgba(112, 0, 0, 0.836);
    font-family: "Comic Sans MS", Arial, sans-serif;
    background-color: rgb(255, 183, 183);
    font-size: 40px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 5px dashed rgba(112, 0, 0, 0.836);
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}

/* The following class selector will set the font size and font type for the informational text for each page. */
.info-text {
    font-size: 27px;
    font-family: "Comic Sans MS", Arial, sans-serif;
    margin-left: 20px;
}

/* The following ID selector will resize the galbi.png image for the galbi recipe page.*/
#galbi {
    height: auto;
    width: 550px;
    margin-left: 840px;
    border: 5px ridge;
} 

/* The following ID selector will resize the katsu.png image for the katsu recipe page.*/
#katsu {
    height: auto;
    width: 545px;
    margin-left: 840px;
    border: 5px ridge;
}

/* The following ID selector will resize the pho.png image for the pho recipe page.*/
#pho {
    height: auto;
    width: 540px;
    margin-left: 838px;
    border: 5px ridge;
}

.recipe-links {
    background-color: white;
    height: 200px;
    width: 700px;
    border: 8px ridge;
    display: flex;
    margin-left: 700px;
    padding: 50px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}