/* The following grouped classes will display the heading text color and font consistently across the pages. */
.big-header,
.small-header {
    color: rgba(112, 0, 0, 0.836);
    font-family: "Comic Sans MS", Arial, sans-serif;
}

/* The following class selector will set the background color and size of the of the main heading for each page. */
.big-header {
    background-color: rgb(253, 192, 117);
    font-size: 70px;
}

/* The following ID selector will resize the hamster.gif image for the index page. */
#hamster-gif {
    height: auto;
    width: 500px;
}

/* The following class selector will set the background color and the size of the subheading for each page. */
.small-header {
    background-color: rgb(255, 183, 183);
    font-size: 40px;
}

/* The following class selector will set the font size and font type for the informational text for each page. */
.info-text {
    font-size: 27px;
    font-family: "Comic Sans MS", Arial, sans-serif;
}

/* The following ID selector will resize the galbi.png image for the galbi recipe page.*/
#galbi {
    height: auto;
    width: 550px;
} 

/* The following ID selector will resize the katsu.png image for the katsu recipe page.*/
#katsu {
    height: auto;
    width: 545px;
}

/* The following ID selector will resize the pho.png image for the pho recipe page.*/
#pho {
    height: auto;
    width: 540px;
}